@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans scroll-smooth;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply text-white antialiased bg-[#2F1893];
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input,
  textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

@layer components {
  .input-field {
    @apply w-full px-5 py-3 h-[50px] border-2 border-[#EBEAED] rounded-full focus:outline-none focus:border-[#25DAC5] transition-all duration-200 bg-white text-[18px] text-[#1E0E62] font-light;
  }

  .bg-section::before {
    content: "";
    @apply absolute inset-0;
    background-color: rgba(47, 24, 147, 0.4);
    /* #2F1893 with 40% opacity */
    z-index: 0;
  }
}
